<!DOCTYPE html>
<html>
<head>
    <title>Machine Failure Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Machine Failure Prediction</h1>
        <div class="form">
            <form method="POST">
                <label for="machine_id">Enter Machine ID: </label>
                <input type="number" name="machine_id" required>
                <button type="submit">Predict Failure</button>
                <input type="checkbox" name="calculate_rul" id="calculate_rul" class="styled-checkbox">
                <label for="calculate_rul">Calculate RUL</label>
            </form>
            <form action="/grid" method="GET" target="_blank">
                <button type="submit" class="styled-button" name="prediction_button" value="30">30 day Failure Prediction</button>
            </form>
            <form action="/grid" method="GET" target="_blank">
                <button type="submit" class="styled-button" name="prediction_button" value="20">20 day Failure Prediction</button>
            </form>
            <form action="/grid" method="GET" target="_blank">
                <button type="submit" class="styled-button" name="prediction_button" value="10">10 day Failure Prediction</button>
            </form>
            <form action="/rul_grid" method="GET" target="_blank">
                <button type="submit" class="styled-button">RUL Calculator</button>
            </form>

            {% if machine_id %}
            <hr>
            <p><b>Machine ID: </b>{{ machine_id }}</p>
                <p><b>Alert Category: </b><span class="color-indicator {{ color_code }}"></span></p>
                {% if rul %}
                    <p><b>Remaining Useful Life(cycles): </b>{{ rul }}</p>
                {% endif %}
                <p><b>Failure Probability Percentage(next 30 cycles): </b>{{ probability }} </p>
            {% endif %}
        </div>
    </div>
</body>
</html>
